#title {
  font-size: 35px;
  text-align: center
}
#legend {
  text-align: center;
}
#visual {
  text-align: center;
}
.bar:hover {
    fill: #b6e529;
  }
.myTool {
display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 250px;
  height: 150px;
  padding: 2px;
  font: 10px;
  background: lightsteelblue;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}